block form
  form.form(action="#")
    .form__title Напишите нам скорее
    textarea.form__msg(name="message" placeholder="Сообщение" required)
    .form__row
      input.form__input(name="firstname" type="text" placeholder="Ваше имя" required)
      input.form__input(name="lastname" type="text" placeholder="Ваша фамилия" required)
    .form__row
      .form__capture-img(style="background-image: url('./assets/images/contacts/capture.jpg')")
        img.form__cap-pic.visually-hidden(src="./assets/images/contacts/capture.jpg" alt="capture picture")
      input.form__capture-input(name="captureinput" type="text" placeholder="Символы с картинки" required)
      button.form__btn(type="submit") Отправить


