block slider-dots
  ul.slider__dots(class="carousel-indicators")
    li.slider__dot(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
    li.slider__dot(data-target="#carouselExampleIndicators" data-slide-to="1")
    li.slider__dot(data-target="#carouselExampleIndicators" data-slide-to="2")
    li.slider__dot(data-target="#carouselExampleIndicators" data-slide-to="3")
    li.slider__dot(data-target="#carouselExampleIndicators" data-slide-to="4")