block socials
  ul.socials
    li.socials__net.socials__net_instagram
      a.socials__link(href="instagram.com") &#235;
    li.socials__net.socials__net_facebook
      a.socials__link(href="facebook.com") &#228;
    li.socials__net.socials__net_vk
      a.socials__link(href="vk.com") &#230;