// ApercuPro

@font-face {
    font-family: 'ApercuPro';
    src: url('../fonts/ApercuPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ApercuPro';
    src: url('../fonts/ApercuPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ApercuPro-Mono';
    src: url('../fonts/ApercuPro-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Crimson

@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimsontext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// WebSymbolsLiga

@font-face {
    font-family: 'WebSymbolsLiga';
    src: url('../fonts/websymbolsligaregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}