@mixin inputs{
    color: #000;
    font-family: 'ApercuPro-Mono';
    font-size: 14px;
  
    &::placeholder{
      color: #000;
      font-family: 'ApercuPro-Mono';
      font-size: 14px;
    }
  
    &:focus{
      outline: none;
    }
}

@mixin dis-fle-cen{
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin dis-fle-col-around{
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: space-around;
}

@mixin abs-center{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}