extends ../template

block index
  section.about
    block about
      include ../sections/about
  section.shop
    block shop
      include ../sections/shop
  footer.footer
    block footer
      include ../sections/footer
  section.content
    block content
      include ../sections/content
  section.blog
    block blog
      include ../sections/blog
  section.contacts
    block contacts
      include ../sections/contacts
