block about
  .container
    header.about__header
      .logo
        svg.logo__pic
          use(xlink:href="./assets/icons/svg/symbols.svg#logo")
      block navigation
        - var position = 'header'
        include ../common/navigation
  figure.about__slider.slider(id="carouselExampleIndicators" class="carousel slide" data-ride="carousel")

    block slider-dots
      include ../common/slider-dots.pug

    ul.slider__pics(class="carousel-inner")
      li.slider__pic(class="carousel-item active")
        img.slider__img(class="d-block w-100" src="./assets/images/about/slide.jpg", alt="slide")
      li.slider__pic(class="carousel-item")
        img.slider__img(class="d-block w-100" src="./assets/images/about/slide.jpg", alt="slide")
      li.slider__pic(class="carousel-item")
        img.slider__img(class="d-block w-100" src="./assets/images/about/slide.jpg", alt="slide")
      li.slider__pic(class="carousel-item")
        img.slider__img(class="d-block w-100" src="./assets/images/about/slide.jpg", alt="slide")
      li.slider__pic(class="carousel-item")
        img.slider__img(class="d-block w-100" src="./assets/images/about/slide.jpg", alt="slide")

    .slider__tagline Кофе для тех, кому важно, что в его чашке

  article.about__article.article
    h3 Кофе, кофе, кофе!
    p.
      Yellow Vibe Coffee — сеть кофеен, работающая с зерном класса speciality. 
      Для нас важна высота произрастания кофейных деревьев, тип почвы и уход за ней, 
      вовремя собранные ягоды и правильное хранение зерен. Мы работаем с лучшими 
      поставщиками и сами обжариваем зерна.
    a.article__link(href="#") Подробнее