block blog
  .container
    ul.news
      li.news__item
        .news__image
          img.news__pic(src="", alt="")
        article.news__text
          .blog__section Новости
          .news__title У нас появилась выпечка
          .news__article.
            Мы работаем только с зерном класса speciality. 
            Высота произрастания кофейных деревьев, тип почвы 
            и уход за ней, вовремя собранные ягоды и правильное 
            хранение зерен — все детали важны, когда речь идет 
            о настоящем кофе, — таком, вкусом которого можно 
            действительно наслаждаться, а не глотнуть и тут же забыть. 
          a.news__link(href="#") Подробнее
      
      li.news__item
        .blog__section Новости
        .news__title У нас появилась выпечка
        .news__article.
          Мы работаем только с зерном класса speciality. Высота 
          произрастания кофейных деревьев, тип почвы и уход за ней, 
          вовремя собранные ягоды и правильное хранение зерен — все 
          детали важны, когда речь идет о настоящем кофе, — таком, 
          вкусом которого можно действительно наслаждаться, а не 
          глотнуть и тут же забыть. Фермеры, сборщики, экспортеры 
          кофейных зерен для нас не просто посредники — это настоящие 
          профи с огромным опытом в кофейном деле и огнем в глазах. 
          Мы думаем, что этот огонь передается и нашим зернам — пусть 
          пока зеленым и необжареным. Обжарка зерен — отдельная тема 
          для разговора. Мы обжариваем наши зерна сами, используем 
          среднюю (венскую) степень обжарки, потому что она успевает 
          раскрыть аромат зерен и при этом не добавляет горечи.
        a.news__link(href="#") Подробнее