block content
  header.content__header
    .container
      .content__tagline Кофе - наша страсть
  article.content__article
  figure.content__figure.slider
    ul.content__slider
      li.content__slide
        img(src="", alt="")
      li.content__slide
        img(src="", alt="")
      li.content__slide
        img(src="", alt="")
      li.content__slide
        img(src="", alt="")
      li.content__slide
        img(src="", alt="")

    block slider-dots
      include ../common/slider-dots.pug
