block shop
  .container
    ul.shop__goods.goods.row
      li.goods__item.col
        .goods__image(style="background-image: url('./assets/images/shop/coffee.jpg')")
          img.goods__pic.visually-hidden(src="./assets/images/shop/coffee.jpg", alt="coffee picture")
        .goods__desc.desc
          .desc__shop Магазин
          .desc__sort Моносорт в зернах
          .desc__counrty Maragogype Nicaragua
      li.goods__item.col
        .goods__image(style="background-image: url('./assets/images/shop/coffee.jpg')")
          img.goods__pic.visually-hidden(src="./assets/images/shop/coffee.jpg", alt="coffee picture")
        .goods__desc.desc
          .desc__shop Магазин
          .desc__sort Моносорт в зернах
          .desc__counrty Maragogype Nicaragua
      li.goods__item.col
        .goods__image(style="background-image: url('./assets/images/shop/coffee.jpg')")
          img.goods__pic.visually-hidden(src="./assets/images/shop/coffee.jpg", alt="coffee picture")
        .goods__desc.desc
          .desc__shop Магазин
          .desc__sort Моносорт в зернах
          .desc__counrty Maragogype Nicaragua
    .shop__instagram.instagram
      .instagram__title
        svg.instagram__name
          use(xlink:href="./assets/icons/svg/symbols.svg#yellowvibecoffee")
      ul.instagram__list.row
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        .w-100
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
        li.instagram__item.col
          .instagram__photo(style="background-image: url('./assets/images/shop/instagram.jpg')")
          img.instagram__pic.visually-hidden(src="./assets/images/shop/instagram.jpg", alt="instagram-photo")
      