.about__header{
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logo__pic{
  width: 340px;
  height: 100px;
}

.slider__tagline{
  position: absolute;
  top: 60px;
  left: 200px;
  width: 320px;
  color: #fff;
  font-family: 'ApercuPro';
  font-size: 48px;
  line-height: 50px;
}

.about__article{
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 90px;
  width: 500px;
  text-align: center;
}

.article{
  color: #000;
  font-family: 'ApercuPro';
  
  h3{
    font-size: 48px;
    margin-bottom:40px
  }

  p{
    font-size: 24px;
  }
}

.article__link{
  margin-top: 30px;
  color: #000;
  font-family: 'ApercuPro';
  font-size: 12px;
  font-weight: bold;

  &:hover{
    color: #9b9b9b;
  }
}