.news__text{
  font-family: 'ApercuPro';
  color:#000;
  border: 2px solid #f4e6d4;
  border-left: none;
  padding: 40px;
  padding-top: 20px;
  display:flex;
  flex-flow: column;
  justify-content: space-between;
}

.news__item{
  display:flex;
  justify-content: center;
  margin-bottom: 200px;
}

.blog__section{
  font-family: 'ApercuPro-Mono';
  color:#000;
  font-size: 12px;
}
.news__title{
  font-family: 'ApercuPro';
  font-size: 48px;
  color:#000;
  font-weight: bold;
}
.news__article{
  font-family: 'ApercuPro';
  color:#000;
  font-size: 18px;
}

.news__item_second{
  flex-flow: column;
  align-items: center;

  .news__image{
    margin-bottom: 70px;
  }

  .news__article{
    max-width: 705px;
  }
}